ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0.747);
}

li {
    float: left;
}

li a {
    display: block;
    color: rgb(109,123,147);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: rgb(231, 230, 230);
}

.letra{
    font-family: Lucida sans-serif

}
.title{
    color: rgb(46,78,204);
    font-family: Lucida sans-serif
}